extends ../layouts/main.pug
block title
    title About
    
block content 
    div(class="container about-page")
        div(class="content-box")
            div(class="row")
                div(class="col-md-8")
                    h1 About Page
                    p.
                        I'm baby taxidermy polaroid squid aesthetic pug everyday carry messenger bag air plant XOXO four loko keytar. Af mixtape prism narwhal woke green juice raw denim. Occupy whatever direct trade fashion axe next level chicharrones photo booth vegan. Fam kickstarter wolf offal lomo, vape yr live-edge gentrify pork belly occupy vegan cardigan. Cardigan woke mlkshk keffiyeh seitan bespoke scenester waistcoat. Yr chia microdosing raw denim health goth, farm-to-table you probably haven't heard of them stumptown church-key narwhal fashion axe fanny pack small batch.
                div(class="col-md-4")
                    img(src="https://pluspng.com/img-png/user-png-icon-male-user-icon-512.png")
