extends ../layouts/main.pug
block title
    title Projects
    
block content 
    div(class="container projects-page show-page")
        div(class="content-box")
            div(class="row")
                div(class="col-md-12")
                    h1 Show Project
                    p.
                        Hashtag church-key try-hard williamsburg actually vexillologist artisan thundercats tote bag cardigan taxidermy butcher la croix chambray. Sartorial pork belly marfa, cardigan vaporware chillwave slow-carb jianbing. Cred typewriter enamel pin listicle 90's tumeric migas fingerstache hella hexagon tilde pork belly yr put a bird on it. Artisan truffaut keffiyeh try-hard, beard listicle quinoa cliche. Kogi truffaut bicycle rights typewriter chartreuse, 3 wolf moon tofu mumblecore pitchfork thundercats post-ironic irony chia 8-bit. Scenester chillwave unicorn butcher pop-up artisan viral intelligentsia. PBR twee chartreuse next level.
                    div(class="col-md-4")
                        img(src="https://cdn.dribbble.com/users/1126935/screenshots/11079922/media/70439cf006ed0ba0834b7b4df07394dc.png")
                    div(class="col-md-4")
                        img(src="https://cdn.dribbble.com/users/1126935/screenshots/11079922/media/70439cf006ed0ba0834b7b4df07394dc.png")
                    div(class="col-md-4")
                        img(src="https://cdn.dribbble.com/users/1126935/screenshots/11079922/media/70439cf006ed0ba0834b7b4df07394dc.png")
                div(class="col-md-12")
                    img(src="https://cdn.dribbble.com/users/1126935/screenshots/11079922/media/70439cf006ed0ba0834b7b4df07394dc.png")
